:root {
  --navbar-height: 80px;
}

body, #root {
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

button {
  font: inherit;
  padding: 0;
  margin: 0;
  border: none;
  color: inherit;
  background: none;
}

.button {
  background: lightblue;
  padding: 8px 12px;
  border-radius: 6px;
  transition: opacity 500ms;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.5;
}